<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Invest101</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div class="navbar">
        <div class="logo">INVESTMENT 101</div>
        <ul class="nav-content">
            <li class="nav-item"><a href="/">Your Portfolio</a></li>
            <li class="nav-item"><a href="buy">Buy</a></li>
            <li class="nav-item"><a href="sell">Sell</a></li>
        </ul>
    </div>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2024 by <a href ='https://devhuypham.me'>Huy Pham</a>.
        {% endblock %}
    </div>
</body>
</html>