{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="sign-up">
    <h1>Sign Up</h1>
    <form action="/signup" method="POST" onsubmit="return validateForm()" name="signup">
        <input type="text" id="username" name="username" minlength="1" maxlength="12" placeholder="Your Username" required>
        <input type="password" id="password" name="password" minlength="1" maxlength="20" placeholder="Your Password (1-20)" required>
        <input type="password" id="password_clone" name="password_clone" minlength="1" maxlength="20" placeholder="Re-enter your password" required>
        <input type="submit" value="Submit" class="stock-buy-submit">
    </form>
</div>
{% endblock %}
