*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
    scroll-behavior: smooth;
	--color-1: #9400FF;
	--color-2: #393E46;
	--color-3: rgba(148, 0, 255, 0.5);
	--color-4: green;
	--color-5: red;
}
#content{
	display: flex;
	justify-content: center;
	width: 80%;
	padding: 5% 10%;
}
#footer{
	position: absolute;
	bottom: 0;
	background-color: var(--color-3);
	width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
a{
	text-decoration: none;
	color: black;
}
.navbar{
	display: flex;
	width: 90%;
	justify-content: space-between;
	padding: 1% 5%;
}
.logo{
	width: 50%;
	font-weight: 700;
	color: var(--color-1);
}
.nav-content{
	display: flex;
	justify-content: end;
	width: 30%;
	column-gap: 3.333vw;
}

.nav-item{
	list-style: none;
	padding: 1%;
}
.nav-item a:hover{
	transition: all ease-in 200ms;
	color: var(--color-1);
}

.stock-profile{
	display: flex;
	justify-content: center;
	column-gap: 1.5vw;
	min-height: 60vh;
	min-width: 60vw;
}

.stock-info, .stock-detail{
	border: 2px solid var(--color-1);
	border-radius: 10px;
	padding: 5%;
	display: flex;
	flex-direction: column;
	row-gap: 1.68vh;
	width: 40%;
	min-width: 40%;
}

.stock-info:hover, .stock-detail:hover{
	transition: all ease 200ms;
	box-shadow: -10px 5px var(--color-1);
	transform:translateX(10px);
	transform:translateY(-5px);
}

.stock-info h1{
	font-size: 1.5rem;
	font-weight: 600;
}
.stock-info h3{
	color: var(--color-2);
	font-weight: 600;
}
.stock-info h2{
	font-weight: bold;
	text-decoration: 1px underline var(--color-1);
}
.stock-symbol{
	display: flex;
	gap: 1vw;
	flex-wrap: wrap;
}
.stock-symbol-item{
	padding: 16.8px;
	background-color: var(--color-1);
	color:white;
	border-radius: 50px;
}

.stock-alert{
	background-color: var(--color-1);
	border-radius: 50px;
	color: white;
	padding: 5px;
}

.stock-detail table{
	text-align: center;
}
.stock-detail table td{
	padding: 10px; 
}

/* buy section */

.stock-buy, .stock-sell, .login, .sign-up{
	display: flex;
	flex-direction: column;
	border: 2px solid var(--color-1);
	border-radius: 10px;
	padding: 3vh;
}

.stock-buy form, .stock-sell form, .login form, .sign-up form{
	padding: 3vh 0;
	display: flex;
	flex-direction: column;
	row-gap: 3vh;
}

#symbol, #shares{
	background-color: var(--color-3);
	border-radius: 10px;
	border: 2px solid black;
	padding: 5px;
}

.stock-buy-submit, .stock-sell-submit{
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
}
.stock-buy-submit:hover, .stock-sell-submit:hover{
	color: var(--color-1);
	background-color: white;
	transition: all 200ms;
}
.plus{
	color: var(--color-4);
}
.minus{
	color: var(--color-5);
}
.error-container{
	display: flex;
	flex-direction: column;
}
.error-img{
	width: 23vw;
}
.error-text{
	padding: 10px;
	color: white;
	background-color: var(--color-5);
	text-align: center;
}

/* stock sell section */
.stock-sell{
	width: 33vw;
}